// Colours
$white: #FFFFFF;

$light_grey: #F8F7F7;
$grey: #B4B4B4;
$dark_grey: #707070;

$light_green: #ABE8B9;
$highlight: #4DCCAD;

$main: #2F3E51;

$main_overlay: rgba(47, 62, 81, 0.6);
$overlay: rgba(0, 0, 0, 0.75);

// Fonts
$text: 'Roboto';
$heading: 'Oswald';


// Borders
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;

// Devices
$desktop_little: "screen and (max-width: 1330px)";
$tablet: "screen and (max-width: 1050px)";
$tablet_little: "screen and (max-width: 880px)";
$mobile_big: "screen and (max-width: 730px)";
$mobile: "screen and (max-width: 550px)";
$mobile_little: "screen and (max-width: 370px)";