---
title: Explanation Box
styles: components/explanation.scss
maturity: ready
---

<div class="explanation">
    <img src="{{ site.baseurl }}/src/assets/images/icon__challenge.svg">

    <hr>
    <p>The principle is rather simple: <span class="p--highlight">challenges</span> and the associated 
    timeframe is posed that the users artistically have to implement. 
    The topic is randomly chosen - to keep it short: be open for surprises.</p>

    <a href="#" class="btn btn__ghost">View Challenges</a>
</div>
