---
title: Hall of Fame Box
styles: components/hall-of-fame.scss
maturity: ready
---
<div class="hall-of-fame">
    <img src="{{ site.baseurl }}/src/assets/images/icon__medal--silver.svg" class="icon__medal">

    <div class="hall-of-fame__box">
        <img src="{{ site.baseurl }}/src/assets/images/icon__camera.svg" class="hall-of-fame__upload" >

        <h2>Unknown</h2>
        <p class="p--highlight">Unknown</p>

        <p class="hall-of-fame__likes"><img src="{{ site.baseurl }}/src/assets/images/icon__like--filled.svg" class= "icon__heart">
            XXX likes
        </p>

        <a href="#" class="btn btn__ghost btn__ghost--disabled" state="disabled">See Full Post</a>
    </div>
</div>
