// --- FONTS AND SIZE ---
body {
    // --- FONT FAMILY ---
    @include font-family($text, $heading);

    // --- FONT SIZE ---
    @include font-size(1.1rem, 3.6rem, 2.2rem, 1.5rem);

    @media #{$desktop_little} {
        @include font-size(1.1rem, 4.2rem, 2.6rem, 1.7rem);
    }

    @media #{$tablet} {
        @include font-size(1.1rem, 3.6rem, 2.2rem, 1.5rem);
    }

    @media #{$tablet_little} {
        @include font-size(1rem, 3rem, 2rem, 1.3rem);
    }

    @media #{$mobile} {
        @include font-size(1rem, 2.7rem, 1.7rem, 1.2rem);
    }

    @media #{$mobile_little} {
        @include font-size(1rem, 2.5rem, 1.5rem, 1.2rem);
    }
}

// --- TITLE WITH SUBTITLE ---
.heading {
    text-align: center;
    
    max-width: 40rem;
    min-width: 18rem;

    margin: auto;

    padding-top: 3em;
    padding-bottom: 3em;

    @media #{$mobile} {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}


// --- INDIVIDUAL ---
a,
p,
li {
    line-height: 1.5;
    color: $dark-grey;
}

// p-Tag
p {
    &--small {
        color: $grey;  
    }

    &--big {
        text-transform: uppercase;
    }

    &__white--big {
        @include p__white--big;
    }

    &--highlight {
        @include bold;

        color: $highlight;
    }
}

// headings
h1, 
h2, 
h3 {
    color: $main;
    letter-spacing: 3px;
}

h1 {
    @include bold;
    @include heading__space;

    text-transform: uppercase;

    &--big {
        @include bold;
    }
}

.ranking__grid__digits {
    @include bold;

    color: $main;
    
    text-transform: uppercase;
    
    margin-right: 2rem;
}

h2 {
    @include heading__space;

    margin-top: 1rem;
    margin-bottom: 1rem;

    &--highlight {
        color: $highlight; 
    }
}

h3 {
    @include heading__space;

    text-transform: uppercase;
}

// white
.white {
    color: white; 
}


// list elements and links
li {
    list-style: none;
}

a {
    color: $main;
    text-transform: uppercase;
    text-decoration: none;
}

.a__small--underlined {
    color: $grey;

    text-decoration: underline;
    text-transform: unset;
}


// form elements
label {
    line-height: 1.5;
    @include p__white--big; 
}







