.hall-of-fame {
    text-align: center;

    &__box {
        @include box;
        @include box__space;
        @include horizontally-aligned;

        width: 22em;

        text-align: center;

        .icon__heart--filled {
            @include icon__text--max;
            @include icon__text__space;
        }
        
        .btn__ghost {
            @include horizontally-aligned;
        }
    }

    &__upload {
        @include img--circle(18em);

        margin-bottom: 1em;
        object-fit: scale-down;
    }

    &__likes {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}

@media screen and (max-width: 1250px) {
    .hall-of-fame { 
        &__box {
            @include horizontally-aligned;
        }
    }    
}


@media #{$mobile} {
    .hall-of-fame { 
        &__box {
            width: 16.5em;
        }
        
        &__upload {
            @include img--circle(15em);
            object-fit: scale-down;
        }
    }  
}





