---
title: Challenge List
styles: components/challenge_list.scss
maturity: ready
---

<div class="active_challenges__item">
    <p class="challenge_title">Challenge title</p>

    <div>
        <p>01.01.2021</p> 
        <p class="p--small">XXX days left</p>
    </div>     
    
    <div>
        <p>10</p>
        <p class="a__small--underlined">see more</p>
    </div>  

    <div>
        <p>
            <img src="{{ site.baseurl }}/src/assets/images/icon__status--unsure.svg" class="icon__status">
            not submitted
        </p>  
    </div>

    <a href="#" class="btn btn__ghost" state="disabled">Upload</a>    
</div>