$white: #FFFFFF;

$light-grey: #F8F7F7;
$grey: #B4B4B4;
$dark-grey: #707070;

$light-green: #ABE8B9;
$highlight: #4DCCAD;

$main: #2F3E51;

$main-overlay: rgba(47, 62, 81, 0.6);
$overlay: rgba(0, 0, 0, 0.75);

$text: 'Roboto';
$heading: 'Oswald';

$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;
