// --- GENERAL ---
@mixin horizontally-aligned {
    margin-left: auto;
    margin-right: auto;
}

@mixin border {
    border: solid 1.5px;
    border-color: $dark-grey;
}


// --- ICONS ---
@mixin icon__text--max {
    max-width: 1rem;
}

@mixin icon__text__space {
    padding-right: 0.5rem;
}


// --- SPACE ---
@mixin main__space {
    margin: auto;
    padding-left: 1em;
}

@mixin main__space__box {
    margin: auto;
    padding-left: 1em;
}


// --- BOXES ---
@mixin box {
    @include shadow;

    background-color: $white;
    border-radius: $border-radius-large;
}

@mixin box--medium {
    @include shadow;

    background-color: $white;
    border-radius: $border-radius-medium;
}


@mixin box__space {
    margin: 1em;
    padding: 1em;
}

@mixin box__space--big {
    margin: 1em;
    padding: 2em;
}

@mixin box__space--small {
    margin: 1em;
    padding: 0.5em;
}


@mixin box__space__margin {
    margin: 1em;
}

@mixin box__space__padding {
    padding: 1em;
}


@mixin shadow {
    box-shadow: 3px 3px 10px rgb(180, 180, 180);
}


@mixin box__flash__position {
    z-index: 1;
    display: inline-block;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -0%);

    margin: 0;
}

// --- IMAGES ---
@mixin img--circle($size) {
    @include shadow;
    
    width: $size;
    height: $size;

    object-fit: cover;
    
    border-radius: 50%;

    padding: none;
}

@mixin img--squared($size) {
    @include border;

    width: $size;
    height: $size;

    object-fit: cover;
}

// --- HEADING SPACES ---
@mixin heading__space {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media #{$tablet} {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;     
    }
}


// --- TEXT ---
@mixin h__space--small {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

@mixin p--highlight {
    color: $highlight;
    font-weight: 700;
    font-style: bold;
}

@mixin p__white--big {
    color: $white;
    text-transform: uppercase;
}

@mixin bold {
    font-weight: 700;
    font-style: bold;
}


// --- FORMS ---
@mixin label_input__space {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}


// --- BUTTON ---
// reset
@mixin btn--reset-style {
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    border: none;
    cursor: pointer;
}

// text
@mixin btn__text {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}


// transitions
@mixin btn__main--transition {
    transition: padding 0.3s ease-out;
}

@mixin btn__ghost--transition {
    transition: border-color 0.3s ease-out, color 0.3s ease-out;
}


// default and hover
@mixin btn__main--default-style {
    @include shadow;

    background-color: $highlight;
    color: $white;
    letter-spacing: 2px;

    border-radius: $border-radius-medium;

    display: block;
    padding: 0.3em 2em;
    margin: 1em 0em;

    max-width: 15em;
    width: fit-content;
}

@mixin btn__main--hover-style {
    padding: 0.3em 2.5em;
}

@mixin btn__main--disabled-style {
    background-color: $grey;
    pointer-events: none;
}

@mixin btn__main--focus-style {
    background-color: $highlight;
    padding: 0.3em 2.5em;
}



@mixin btn__ghost--default-style {
    @include shadow;

    background-color: $white;
    color: $dark-grey;

    @include border;
    border-radius: $border-radius-medium;

    min-width: 13em;

    padding-top: 0.3em;
    padding-bottom: 0.3em;

    display: block;
    margin: 1em 0em;

    max-width: 10em;
}

@mixin btn__ghost--hover-style {
    border-color: $highlight;
    color: $highlight;
}

@mixin btn__ghost--disabled-style {
    border-color: $dark-grey;
    background-color: $grey;
    color: $white;
    pointer-events: none;
}

@mixin btn__ghost--focus-style {
    border-color: $highlight;
    color: $highlight;
}


@mixin font-size($p, $h1, $h2, $h3) {
    * {
        font-family: $text;
    }

    // --- FONTS ---
    p,
    li,
    a {
        font-size: $p;

        color: $dark-grey;
    }

    .p--small {
        font-size: $p*0.9;
    }

    h1 {
        font-size: $h1;
    }

    .h1--big {
        font-size: $h1*1.1;
    }

    .ranking__grid__digits {
        font-size: $h1*1.5;
    }


    h2 {
        font-size: $h2;
    }


    h3 {
        font-size: $h3;
    }


    // --- COMPONENTS ---
    button {
        font-size: $p;
    }

    .btn__main {
        font-size: $h3;
    }
    
    // --- LINKS --
    .a__small--underlined {
        font-size: $p*0.9;
    }

    // --- TABLE ---
    table {
        font-size: $p;
    }

    // --- FORMS ---
    label, 
    input,
    select, 
    textarea{
        font-size: $p;
    }

    input[type=submit] {
        font-size: $h3;
    }
}

@mixin font-family($text-font, $heading-font) {
    * {
        font-family: $text-font;
    }
    
    h1, 
    h2,
    h3 {
        font-family: $heading-font;
    }
        
    .ranking__grid__digits,
    .btn__main {
        font-family: $heading-font;
    }    
}
